*{
    margin: 0em;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;

}

header{
    display: flex;
    flex-direction: row;

    border: black 0.1em solid;
    background-color: aquamarine;

    align-items: center;
    justify-content: center;

}

nav.res{
    display: flex;
    flex-direction: row;

    border: black 0.1em solid;
    background-color: aquamarine;

}

/* Aquestes regles estil correspon al logo del header */
header .logo{
    flex: 1;

    display: flex;
    justify-content: left;
}

#imatge_logo{
    max-height: 10em;
    max-width: 100%;

    margin: 2em;

}

/* Aquestes regles estil correspon al buscador del header */
.buscador{
    flex: 4;
    margin-left: 50em;
}

.linkButton{
    border: 1px solid black;
    padding: 0.5em;

    background-color: cadetblue;
}

.dropdown {
    margin-left: 2em;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    background-color: rgb(205, 252, 211);
    height: 3em;
    width: 5em;
    justify-content: center;
  }
  
  .dropdown-content {
    border: 1px solid black;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    

  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: rgb(181, 226, 193);
  }

  .fotter{
    margin-right: 10em;
  }