*{
    margin: 0em;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;

}

header{
    display: flex;
    flex-direction: row;

    border: black 0.1em solid;
    background-color: aquamarine;

    align-items: center;
    justify-content: center;

}

/* Aquestes regles estil correspon al logo del header */
header .logo{
    flex: 1;

    display: flex;
    justify-content: left;
}

#imatge_logo{
    max-height: 10em;
    max-width: 100%;

    margin: 2em;

}

/* Aquestes regles estil correspon al buscador del header */
.buscador{
    flex: 4;
    margin-left: 50em;
}

.linkButton{
    border: 1px solid black;
    padding: 0.5em;

    background-color: cadetblue;
}