* {
    margin: 0;
    padding: 0;
    border: 0;
  }

  body {
    /*height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;*/
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #b3d9ff;
    /*padding: 10px;*/
    outline: black 0.1em solid;
    height: 15vh;
  }

  header div{
    flex: 1;
  }

  header form{
    flex: 1;
  }

  .logoImg {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
  }

  #imatgeFC{
    max-height: 5rem;
    max-width: 5rem;
  }

  .dropdowns {
    display: flex;
    flex: 2;
    /*gap: 1vh;*/
  }

  .dropdown {
    /*margin-left: 5vh;*/
    display: flex;
    flex: 3;
    position: relative;
    outline: black 1px solid;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #b3d9ff;
    max-width: 4vw;
    outline: black 1px solid;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .buscador {
    display: flex;
    flex: 2;
    margin-left: 5vw;
  }

  .buttons {
    display: flex;
    outline: black 1px solid;
    flex-direction: column;
    align-items: center;
    /*gap: 1vh;*/
  }

  #loginb {
    flex: 0.5;
    height: 100%;
    height: auto;
    width: auto;
    /*padding: 0.5em;*/
    background-color: rgb(100, 149, 245);
    outline: black 0.1em solid;
  }

  #registerb {
    flex: 0.5;
    height: 100%;
    height: auto;
    width: auto;
    /*padding: 0.5em;*/
    background-color: rgb(100, 149, 245);
    outline: black 0.1em solid;
  }

  main{
    display: flex;
    flex-direction: column;

    height: 70vh;
  }

  main article{
    flex: 1;
  }

  .mainImg{
    display: flex;
    flex-direction: row;
    outline: 1px solid black;
    height: 100%;
    width: 100%;
  }

  .mainInfo{
    display: flex;
    flex-direction: row;
  }

  .mainInfo section{
    flex: 1;
    
    outline: 1px solid black;
  }

  .imagen_centro{
    max-height: 20rem;
    max-width: 30rem;
    outline: 1px solid black;
  }

  .aladofoto{
    font-size: 3em;
    color: darkblue;
  }

  .mainInfo{
    flex: 1;
  }

  #horario {
    border-collapse: collapse;
    width: 100%;
    flex: 0.5;
  }
  
  #horario th, #horario td {
    border: 0.1em solid black;
    padding: 1vh;
    text-align: center;
  }
  
  #horario th {
    background-color: lightgray;
  }
  
  #horario tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  

  footer {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    color: white;

    height: 15vh;

    display: flex;
    flex-direction: row;
  }
  
  .column {
    flex: 1;
  }
  
  .title {
    font-weight: bold;
  }
  
  .button {
    width: 2em; 
    height: 2em; 
    margin-left: 1em;
    background-color: darkblue;
  }
  
  .imgblogo {
    max-width: 2em;
    max-height: 2em;
  }

/* Estilos para el precio */
.precio {
  font-size: 5vw;
  color: #333;
}

/* Estilos para el botón de comprar */
.boton-comprar {
  background-color: rgb(69, 79, 255);
  color: #fff;
  padding: 2vh 10vw;
  border: none;
  border-radius: 10vw;
  cursor: pointer;
  text-align: center;
}

.centrado {
margin-left: 10vh;
margin-right: 10vh;
}


.boton-comprar:hover {
  background-color: #0056b3;
}

.mdventa{
  margin-left: 10vw;
}
